@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    display: flex;
}


/*footer input left*/

.form {
    width: 500px;
    height: 230px;
    padding: 60px 60px;
    border: 1px solid black;
    font-family: 'Poppins';
    letter-spacing: 1px;
    margin-left: 600px;
    margin-top: 100px;
}

.form-input,
.form-button {
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 15px;
    padding-top: 20px;
}

.form-title1,
.form-title2,
.form-title3 {
    margin: 0 0 20px 0;
    font-weight: normal;
    font-family: 'Poppins';
    font-size: 20px;
    color: #486958;
}

.form-group {
    position: relative;
    margin-bottom: 32px;
}

.form-input {
    width: 100%;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form-input:hover {
    border-radius: 1px solid #1a73a8;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px 20px 20px 0px;
    color: white;
    background-color: #1a73a8;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 73%;
}

.form-button:focus,
.form-button:hover {
    color: black;
}

.footer-h1 {
    margin-right: 0px;
    margin-bottom: 15%;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 60px;
}

.footer-p {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
    color: #486958;
}

.from-title {
    font-size: 25px;
}